<!Doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{% block title %}User accounts{% endblock %}</title>
    <link rel="stylesheet" href="public/style.css">
  </head>
  <body>
    {% block menu %}
    <menu>
      {% if current %}
      <a style="right: 20px; position:absolute;" href="/logout">Logout</a>
      
      
             <form action="/modif" method="post">
      <textarea name="img"  style="display:none;">{{d.id}}</textarea>
      <textarea  id="{{d.id}}+1"  name="nouveau" style="display:none;" ></textarea>
      <textarea  id="{{d.datee}}"  name="ndatee" style="display:none;" ></textarea>
      <a href="/" onclick="fct('{{d.id}}+1','{{d.datee}}')"  ><input id = "modif" type="image" src="http://cdn.onlinewebfonts.com/svg/download_166862.png"  ></a>
               
    </form>
  
      {% else %}
      <a id="register" href="/signin">Signin</a>
      {% endif %}
    </menu>
    {% endblock %}
    
    {% block main %}
    {% endblock %}
  </body>
</html>