{% extends "base.html" %}

{% block title %}MODIFIER{% endblock %}

{% block head %} 

    <link rel="stylesheet" href="public/style.css"> 
    

{% endblock %}

{% block main %}


<body id="post_it">
<table>
  <tr>
  <td>Welcome {{current}}</td>
    <form action="/admindelete" method="post">
    <a href="/" class="submit"><input type="image" src="https://cdn.glitch.com/e7146dd9-331b-4c07-9d68-fd24547f0732%2Fsuppr-ConvertImage.png?1554507094885" value="DELETE"></a>
    </form>
    </tr>
  
</table>
  
<table>
  
{% for d in donn %}

  <tr>
   
    <td>{{d.txt}}<textarea name="txt"  style="display:none;" >{{d.txt}}</textarea></td>
     
    <td>{{d.datee}}<textarea name="datee"  style="display:none;" >{{d.datee}}</textarea></td>
    
    <td>{{d.coor}}</td>
    
   <form action="/modif" method="post">
      
    <td><textarea name="img"  style="display:none;">{{d.id}}</textarea></td>
      
    <td>{{d.useer}}</td>
    <td><input  type="texte"  name="nouveau"  ></td>
    <td><a href = "/" class="submit" ><input type="image" src="https://cdn.glitch.com/e7146dd9-331b-4c07-9d68-fd24547f0732%2Fsuppr-ConvertImage.png?1554507094885" value="UPDATE" ></a></td>
      <!--<td><textarea name="mach"  ></textarea></td>-->
      
      
      <!--<td><a href = "/" class="submit"  ><input type="image" src="https://cdn.glitch.com/e7146dd9-331b-4c07-9d68-fd24547f0732%2Fsuppr-ConvertImage.png?1554507094885" value="Update"></a></td>-->
     
    </form>
     
    
      </tr>
 
{% endfor %}
  
  
</table>
    
<script type="text/javascript" src="public/client.js"></script>
 
  
</body>
{% endblock %}