<!Doctype html>




{% block head %} 
<title>POST_IT</title>
    <link rel="stylesheet" href="public/style.css"> 
    

{% endblock %}

{% block main %}

<body id="post_it" style="height:100%">
 
  <a href="/connexion" style="right: 20px; position:absolute;">login</a>
  
 {% for d in donn %}
  
        <div id="{{d.id}}" class="postIt" onclick="clickdiv(this.id)" style="left:{{d.x}}px;top:{{d.y}}px;">
          
          <tr>
           
             <td> {{ d.useer }}  <br>
 
     
    <p id="date">
      {{d.datee}}</p> 
                </td>
            
  
      <p>
      
             <td>
               <p style="vertical-aligh:middle">
               {{d.txt}}
                 
               </p> </td>
    </p>
   
            
             

        </tr></div>
         
    
  {% endfor %}

  <script type="text/javascript" src="public/client.js"></script>
  
 
  <div class="message">
  {{ message }}
  </div>
</body>
{% endblock %}