{% extends "base.html" %}

{% block title %}Post_it{% endblock %}

{% block head %} 

    <link rel="stylesheet" href="public/style.css"> 
    

{% endblock %}

{% block main %}


<body id="post_it" style="height:100%">
 <p id ="welcome" style="position: absolute; right:20px;  top: 40px">
      welcome {{current}}
    </p>
  
 
     
 <form  action="/admindelete" method="post">
    <p style= "right: 60px; bottom: 32px; position: absolute; display: block; ">
    <a   href="/" class="submit"><input type="image" src="https://www.freeiconspng.com/uploads/remove-icon-png-24.png" style="height:20px;weight:20px;" value="DELETE"></a>
  <p style= "right:20px; bottom:10px; position: absolute">
    Delete all notes
   </p>
   </p> 
  </form>
  

<div id="{{d.id}}" class="postIt" onclick="clickdiv(this.id)" style="left:{{d.x}}px;top:{{d.y}}px;">
          
          <tr><form action="/suppr" method="post">
             <td> {{ d.useer }}  <br>
<table>
  
{% for d in donn %}

  <tr>
   
    <td>{{d.txt}}<textarea name="txt"  style="display:none;" >{{d.txt}}</textarea></td>
     
    <td>{{d.datee}}<textarea name="datee"  style="display:none;" >{{d.datee}}</textarea></td>
    
    <td>{{d.coor}}</td>
    
   <form action="/suppr" method="post">
      
    <td><textarea name="img"  style="display:none;">{{d.id}}</textarea></td>
      
    <td>{{d.useer}}</td>
    <!--<td><input  type="texte"  name="mach"  ></td>-->
    <td><a href = "/" class="submit" onclick="alert('voulez-vous supprimer votre post_it ?')"><input type="image" src="https://cdn.glitch.com/e7146dd9-331b-4c07-9d68-fd24547f0732%2Fsuppr-ConvertImage.png?1554507094885" value="Delete" ></a></td>
      <!--<td><textarea name="mach"  ></textarea></td>-->
      
      
      <!--<td><a href = "/" class="submit"  ><input type="image" src="https://cdn.glitch.com/e7146dd9-331b-4c07-9d68-fd24547f0732%2Fsuppr-ConvertImage.png?1554507094885" value="Update"></a></td>-->
     
    </form>
    <!-- <td><a onclick="s('{{d.id}}', '{{d.useer}}' , '{{d.txt}}', '{{d.datee}}' , '{{d.coor}}')"  ><input type="image" src="https://cdn.glitch.com/e7146dd9-331b-4c07-9d68-fd24547f0732%2Fsuppr-ConvertImage.png?1554507094885"  ></a></td>-->
    
    <form action="/modif" method="post">
      <td><textarea name="img"  style="display:none;">{{d.id}}</textarea></td>
      <td><textarea  id="{{d.id}}"  name="nouveau" style="display:none;" ></textarea></td>
      <td><a href="/" onclick="fct('{{d.id}}')"  ><input type="image" src="https://cdn.glitch.com/e7146dd9-331b-4c07-9d68-fd24547f0732%2Fsuppr-ConvertImage.png?1554507094885"  ></a></td>
    </form>
    
      </tr>
 
{% endfor %}
  
  
</table>
    
<script type="text/javascript" src="public/client.js"></script>
 
  
</body>
{% endblock %}