
{% extends "base.html" %}

{% block title %}Post_it{% endblock %}

{% block head %} 

    <link rel="stylesheet" href="public/style.css"> 
    

{% endblock %}

{% block main %}

<body id="post_it" style="height:100%">
 <p id ="welcome" style="position: absolute; right:20px;  top: 40px">
      welcome {{current}}
    </p>
  
 
     
 <form  action="/admindelete" method="post">
    <p style= "right: 60px; bottom: 32px; position: absolute; display: block; ">
    <a   href="/" class="submit"><input type="image" src="https://www.freeiconspng.com/uploads/remove-icon-png-24.png" style="height:20px;weight:20px;" value="DELETE"></a>
  <p style= "right:20px; bottom:10px; position: absolute">
    Delete all notes
   </p>
   </p> </form>
  




 {% for d in donn %}
  
        <div id="{{d.id}}" class="postIt" onclick="clickdiv(this.id)" style="left:{{d.x}}px;top:{{d.y}}px;">
          
          <tr><form action="/suppr" method="post">
           
             <td> {{ d.useer }}  <br>
 
     
    <p id="date">
      {{d.txt}}</p> 
               <textarea name="txtt"  style="display:none">{{d.txt}}</textarea> </td>
  <td><textarea name="img"  style="display:none">{{d.id}}</textarea></td>
      <p>
      
             <td>
               <p style="vertical-aligh:middle">
               {{d.login}}
               </p> </td>
    <td><a href = "/" class="submit" ><input id = "supp" type="image" src="https://www.freeiconspng.com/uploads/remove-icon-png-24.png" style="height:20px;weight:20px;" value="Delete"></a></td></p>
   </form>

        </tr></div>
         
    
  {% endfor %}

  
  <script>
  
    
    
    
    
    
 document.getElementById("post_it").ondblclick = function() {myfunction()};
 
 function s(){alert("oui");}
    

   
    



function clickdiv(id){
  
  var mousePosition;
var offset = [0,0];
var div;
var isDown = false;
div = document.getElementById(id);
  div.addEventListener('mousedown', function(e) {
    isDown = true;
    offset = [
        div.offsetLeft - e.clientX,
        div.offsetTop - e.clientY
    ];
}, true);

document.addEventListener('mouseup', function() {
    isDown = false;
}, true);

document.addEventListener('mousemove', function(event) {
    event.preventDefault();
    if (isDown) {
        mousePosition = {

            x : event.clientX,
            y : event.clientY

        };
        div.style.left = (mousePosition.x + offset[0]) + 'px';
        div.style.top  = (mousePosition.y + offset[1]) + 'px';
    }
}, true);
}
  
    
    
 /*function suppression(){
  
    
    var xhr = new XMLHttpRequest();
    var url = "https://responsible-justice.glitch.me/suppr";
    

   
    xhr.onreadystatechange = function () {
      if (xhr.readyState === XMLHttpRequest.DONE && xhr.status === 200) {
        var json = JSON.stringify(xhr.responseText);
        alert('oui');
        window.location.reload();
      }
    };
   
   xhr.open("POST", url, true); 
 //  var data = { login: "", txt : "10/4/2019 7:48", coor : "X :327 Y :191", id = 15};
  xhr.setRequestHeader("Content-Type", "application/json");
 // xhr.send(JSON.stringify(data));
      xhr.send();
   
  }*/
    
 function myfunction() {
    
   // Coordonnees
    var x = event.clientX ; 
	  var y = event.clientY; 
	  var coor = "X :" + x + " Y :"  + y ;
  
   // Date
   var d = new Date(); 
	
	var j = d.getDate(); 
	var mois = d.getMonth() + 1; 
	var annee = d.getFullYear(); 
	var h = d.getHours(); 
	var m = d.getMinutes();
   var date = j+"/"+mois+"/"+annee+"  "+h+":"+m ; 
   
   //TEXTE
  
   var texte = prompt("Saisir votre texte ::");
    var xhr = new XMLHttpRequest();
    var url = "/p";
    xhr.open("POST", url, true); 

   
    xhr.onreadystatechange = function () {
      if (xhr.readyState === XMLHttpRequest.DONE && xhr.status === 200) {
        var json = JSON.stringify(xhr.responseText);
        alert("les donnees sont envoyer a la BD");
        window.location.reload();
      }
    };
  
  var data = { login: texte, txt : date, x : x, y: y};
  xhr.setRequestHeader("Content-Type", "application/json");
  xhr.send(JSON.stringify(data));
  console.log('okk');
   
 }
    
  
  
  var width=100;
 var difference=2;
 var interveralID =0;
 //document.getElementById("img1").style.width=width;
 
 function increase()
 {
 clearInterval(interveralID);
 interveralID=setInterval(expand,10);
 }
 function decrease()
 {
 clearInterval(interveralID);
 interveralID=setInterval(shrink,10);
 }
 function expand()
 {
 if(width<200)
 {
 width = width+difference;
 document.getElementById("imgg").style.width=width;
 console.log(width);
 }
 else
 {
 clearInterval(interveralID);
 }
 
 }
 function shrink()
 {
 if(width>100)
 {
 width = width-difference;
 document.getElementById("imgg").style.width=width;
 console.log(width);
 }
 else
 {
 clearInterval(interveralID);
 }
 
 }
  
</script>
  
 <!-- <div>
    {% for d in donn %}
    <p> {{ d.login }}</p>
    <p> {{ d.txt }}</p>
    <p> {{ d.coor }}</p>
    {% endfor %}
  </div>-->
  
  
  <div class="message">
  {{ message }}
  </div>
</body>
{% endblock %}