 
{% block title %}Post_it{% endblock %}

{% block head %} 
    <link rel="stylesheet" href="public/style.css"> 
    <script src="/dbinit.js" defer></script>

{% endblock %}

{% block main %}

<body id="post_it"> 
<form method="post" id="postt">
 <!-- <input type="text" name="login" placeholder="login" value="{{ data.login }}">
  <input type="text" name="txt" placeholder="txt" value="{{ data.txt}}">
  <input type="submit" value="Create account">-->
</form>
<script>
    	

  document.getElementById("post_it").ondblclick = function() {myFunction()};
    function myFunction() {
	    var x = event.clientX ; 
	    var y = event.clientY; 
	    var coor = "X :" + x + " Y :"  + y ; 
      
   


       
     /*
     var pp = document.createElement('input'); 
      pp.setAttribute("id","mab");
      pp.setAttribute("type","text");
      pp.setAttribute("name","coor");
      pp.setAttribute("value","{{data.coor}}");
       
      document.getElementById("postt").appendChild(pp);
      */
   /*    var xhr = new XMLHttpRequest();
      xhr.open("POST", "https://responsible-justice.glitch.me/p", true);
      xhr.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
     data = { "txt" , "xx" , "10 ; 20"}
      xhr.send(data);
      
     xhr.onload = function() {
      console.log(xhr.responseText);  // Simple text
      console.log(xhr.responseXML);   // XML (if the response is indeed XML)
      console.log(xhr.response);      // Configurable (text by default)
     */
      
     
      
}
    
  
  </script>
  

<table>
  <tr>
  </tr>
{% for d in donn %}
  <tr>
    <td>{{ d.login }}</td>
    <td>{{d.txt}}</td>
    <td>{{d.coor}}</td>
  </tr>
{% endfor %}
</table>
  
  
  <div class="message">
  {{ message }}
</div>
</body>
{% endblock %}