{% extends "base.html" %}

{% block title %}Post_it{% endblock %}

{% block head %} 

    <link rel="stylesheet" href="public/style.css"> 
    

{% endblock %}

{% block main %}


<body> 

 
<p>
  Welcome {{current}}
  </p>
 {% for d in donn %}
  
        <div style= "background-color:#c13c42; height:30px;">
          
          <tr><form action="/suppr" method="post">
           
             <td> 
 
     
    <p id="date">
      {{d.datee}}</p> 
               <textarea name="txtt"  style="display:none">{{d.txt}}</textarea> </td>
            <td><textarea name="datee"  style="display:none">{{d.datee}}</textarea> </td>
  <td><textarea name="img"  style="display:none">{{d.id}}</textarea></td>
      <p>
      
             <td>
               <p style="vertical-aligh:middle">
               {{d.txt}}
                 
               </p> </td>
    <td><a href = "/" class="submit" ><input id = "supp" type="image" src="https://www.freeiconspng.com/uploads/remove-icon-png-24.png" style="height:20px;weight:20px;" value="Delete"></a></td></p>
   </form>
            
             <form action="/modif" method="post">
      <textarea name="img"  style="display:none;">{{d.id}}</textarea>
      <textarea  id="{{d.id}}+1"  name="nouveau" style="display:none;" ></textarea>
      <textarea  id="{{d.datee}}"  name="ndatee" style="display:none;" ></textarea>
      <a href="/" onclick="fct('{{d.id}}+1','{{d.datee}}')"  ><input id = "modif" type="image" src="http://cdn.onlinewebfonts.com/svg/download_166862.png"  ></a>
               
    </form>

        </tr></div>
         
    
  {% endfor %}
  <script type="text/javascript" src="public/client.js"></script>
 
</body>
{% endblock %}